*{
    font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: all 0.25s linear;
}
.navbar{
    position: sticky;
    position: -webkit-sticky;
    background-color: lightgray;
    top:0;
    padding: 0;
}
.navbar ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color: black;
    text-align: center;
    padding-left: 25px;
    padding-bottom: 17px;
    text-decoration: none;
}
.navbar li a:hover{
    color:red;
}
.process .process_button{
    font-size: 30px;
    display: inline-block;
    background-color: transparent;
    border: none ;
    outline: none ;
    padding:10px 10px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}
.process .process_button::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 0%;
    width: 2%;
    background-color: lightblue;
    z-index: -1;
    transition: height 0.25s linear, width 0.25s ease-in-out 0.25s ;
}
.process .process_button:hover::before{
    height: 100%;
    width: 100%;
}
.process hr{
    border: 1px solid black;
}
.process pre{
    text-align: center;
    font-size: 16px;
}
.process h4{
    text-decoration: underline;
    padding-left: 35%;
}
.process h4:hover{
    color:red;
}
.process img{
    width: 40%;
    margin-left: 35%;
    height: 50%;
}
.process h1{
    padding-left: 35%;
    font-size: 40px;
}
.process p{
    margin-left: 35%;
    text-decoration: underline;
}
.process p::after{
    content: " -->";
}
.process p:hover{
    color: red;
}

.our_team .our_team_button{
    font-size: 30px;
    display: inline-block;
    background-color: transparent;
    border: none ;
    outline: none ;
    padding:10px 10px;
    position: relative;
    cursor: pointer;
}
.our_team .our_team_button::before{
    content: "";
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,0);
    height: 100%;
    width: 0%;
    background-color: lightblue;
    z-index: -1;
    transition: width 1s ease-in-out;
}
.our_team .our_team_button:hover::before{
    width: 100%;
}
.our_team hr{
    border: 1px solid black;
}
.our_team .gird_our_team{
    display: grid;
    margin-left: 35%;
    margin-top: 30px;
    grid: 400px/auto auto auto;

}

.our_team img{
   height: 250px;
   margin-left: 20px;
   border: 1px solid black;
}
.our_team h5,p{
    margin-left: 20px;
}
.our_team h5{
    font-size: 18px;
}
.our_team hr:nth-of-type(2){
    margin-left: 35%;
    border: 1px solid black;
}
.our_team .show_all{
    margin-left: 35%;
    text-decoration: underline;
}
.our_team .show_all:hover{
    color: red;
}

.news .news_button1{
    font-size: 30px;
    display: inline-block;
    background-color: transparent;
    border: none ;
    outline: none ;
    padding:10px 10px;
    position: relative;
    cursor: pointer;
}
.news .news_button1::before{
    content: "";
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    left: 0;
    height: 0%;
    width: 100%;
    background-color: lightblue;
    z-index: -1;
    transition: height 1s ease-in-out;
}
.news .news_button1:hover::before{
    height: 100%;
}
.news hr{
    border: 1px solid black;
}
.news .flex_news{
    display: flex;
    margin-left: 35%;
    margin-top: 30px;
}
.news h6{
    font-size: 18px;
    margin-left: 20px;
}
.news img{
    height: 300px;
    margin-left: 20px;
}
.news .hr_news{
    margin-left: 35%;
    border: 1px solid black;
}
.news .show_more{
    text-decoration: underline;
    margin-left: 35%;
}
.news .show_more:hover{
    color: red;
}
footer hr{
    margin-top:100px;
    border: 1px solid black;
}

footer .flex_footer{
    display: flex;
    justify-content: space-between;
}
footer li{
    list-style-type: none;
}